<!DOCTYPE html>
<html>
<head>
    <title>Inframind 🚀</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>
        Inframind
        <span>🚀</span>
    </h1>

    <p class="subtitle">
        FastAPI + Docker + Cloud Run
    </p>


    <div class="card">

        <h2>API Status</h2>

        <div class="status">
            🟢 Online
        </div>

        <p>
            Version:
            <b>{{version}}</b>
        </p>

        <p>
            Deploy:
            <b>{{time}}</b>
        </p>

    </div>


    <button>
        Explorar API
    </button>


</div>


</body>
</html>